<div class="container">
  <div style="display: flex; justify-content: space-between; align-items: center;">
  <h2>Academic Programs</h2>
  <button class="btn-primary" routerLink="/add-program" style="margin-left:auto;">
    + Add New Program
  </button>
</div> 

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of programs()">
  <td>{{ p.name }}</td>
  <td>{{ p.description }}</td>
  <td>{{ p.status }}</td>
  <td>
    <button [routerLink]="['/edit-program', p.id]" class="btn-edit">
      Edit
    </button>
    <button (click)="deleteProgram(p.id)">Delete</button>
  </td>
  </tr>
    </tbody>
  </table>
</div>